body{
  font-family: gochi;
}

header{
  background-color: white;
  margin-bottom: 40px;
}

header h1{
  text-align: center;

  margin: 0;

  padding: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style:none;
}

header nav ul li a {
  color:black;
  text-decoration: none;
  margin: 0 20px 0 0

}

header nav ul li :last-child a{
  margin: 0px;
}

/*about*/
#about{
  background-color: blanchedalmond;
}


/* intro*/
#intro{
  display: flex;
  background-color: blanchedalmond;
  flex-direction: column;  
  text-align: center;
  margin: 0%;
}

#intro ul li{
  list-style: none;
}

/* 

 */
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input[type=text],textarea{
  margin: 20px;
  padding: 10px;
  border-radius: 8px; 
  width: 50%;
  border: 1px solid gray;

} 

#mail{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

span{
  margin-bottom: 20px;
  font-size: 30px;
}

#submit_button{ 
  background-color: grey;
  height: 30px;
  width: 10%;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

/* label {
  font-weight: bold;
  font-size: 16px;
}




/*projects*/
.container {
  width: 100%;
}
img{
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

h2{
  text-align: center;
}


@media all and (min-width:600px){
  header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
  

